In [3]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [9]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime )
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [12]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [14]:
from time import time

In [15]:
try:
    while True:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk into green_taxi_data, took %.3f second' % (t_end - t_start))
        
except Exception as e:
    print("Exception occurred:" + str(e))

inserted another chunk into green_taxi_data, took 9.588 second
inserted another chunk into green_taxi_data, took 9.409 second
inserted another chunk into green_taxi_data, took 9.306 second
inserted another chunk into green_taxi_data, took 9.351 second
inserted another chunk into green_taxi_data, took 9.375 second
inserted another chunk into green_taxi_data, took 9.492 second
inserted another chunk into green_taxi_data, took 2.925 second
Exception occurred:

In [16]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [17]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265